#wp-admin-bar-wp-logo, #wp-admin-bar-comments {
  display:none !important;
  position:absolute;
  top:-100%;
  left:-100%;
  width:0;
  height:0;
  overflow:hidden;
  float:none !important;
}

/* .menu-icon-post .wp-menu-image:before{
  content:"";
  background: no-repeat center center;
  background-size:20px;
  background-image: url('../dist/images/admin-icon.svg');
} */

#adminmenu div.wp-menu-image:before {
  color:#ffffff !important;
  content:"";
  background: no-repeat center center;
  background-size:20px;
  background-image: url('../dist/images/admin-icon.svg');
}

.wp-core-ui {
  color:black;
}

#adminmenu .wp-submenu-head, #adminmenu a.menu-top {
  font-family:"Open Sans";
  font-weight:100;
}


.wp-admin #wpadminbar #wp-admin-bar-site-name>.ab-item:before {
  content:"";
  width:20px;
  height:20px;
  background: no-repeat center center;
  background-size:20px;
  background-image: url('../dist/images/logo-alt-admin.svg') !important;
}

.wp-core-ui ul li {
  width:auto;
}

.wp-core-ui ul li:before {
  content:"" !important;
}

.wp-core-ui * {
  border-radius: 0 !important;
}

.wp-core-ui .diff-meta {
  padding:0;
  margin:5px;
}

.wp-core-ui .ui-slider-handle {
  border-radius: 50% !important;
  box-sizing: content-box;
}

.wp-core-ui .revisions-controls {
  height:auto !important;
}

.wp-core-ui .revisions-controls .wp-slider {
  top: -4px;
}

.wp-core-ui .revisions-controls input[type=checkbox] {
  position: relative;
  top: 1px;
  vertical-align: middle;
}
  

.wp-core-ui .components-modal__frame input[type=radio]:checked:before, 
.wp-core-ui .components-popover input[type=radio]:checked:before, 
.wp-core-ui .edit-post-header input[type=radio]:checked:before, 
.wp-core-ui .edit-post-sidebar input[type=radio]:checked:before, 
.wp-core-ui .edit-post-text-editor input[type=radio]:checked:before, 
.wp-core-ui .edit-post-visual-editor input[type=radio]:checked:before, 
.wp-core-ui .editor-post-publish-panel input[type=radio]:checked:before {
  /* margin:0; */
}

/* over ride for guttenberg block selector */
.wp-core-ui .block-editor-block-types-list li {
  width:33.33333%;
}


/* Guttenberg Styles */
.wp-block {
  max-width:100%;
}

.edit-post-visual-editor .block-editor-block-list__block {
  margin:0;
}

.is-selected {
  margin:14px 0 !important;
}

.block-editor-editor-skeleton__sidebar, .postbox-container {

}

.block-editor .editor-styles-wrapper {
  height:auto;
}

.acf-field {
	font-family: 'Montserrat', sans-serif !important;
  font-weight:200 !important;
}

/* ACFs */
.acf-field-group .acf-label label, .acf-field-repeater .acf-label label {
  font-weight:400 !important;
  /* color:blue !important; */
}

.acf-field-group .acf-label {
  /* color:blue !important; */
  font-weight:800 !important;
  font-size:1.2em !important;
}

.acf-field-group .acf-input .acf-label {
  color:black !important;
  font-size:1em !important;
}