@import "colors";

.four-oh-four-page {

  .main-section {
    background: gray;
  }

  .content {

  }

  h1, h3 {
    text-align: center;
  }

  .seemax-button {
    margin:40px auto 0px auto;
  }
}
